@charset "UTF-8";/* regra pra nao dar b.o*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

title {
    color:#562C2C;
 }
body {
    background-image: linear-gradient(to right,#DCAB6B, #FFFFB3);
}
main {
background-color: #F8F4F9;
border-radius: 10px; /*arredondamento das bordas*/
box-shadow: 5px, 5px, 15px, #570b1e;/* sombra da div ou main ou outro sendo na ordem os parametros pro lado, baixo, esplhamento, transparencia*/
width: 600px;
padding: 10px;
margin: auto;
}
h1 {color:#6E0D25 ;
text-align: center;
text-shadow: 1px, 1px, 2px;/* sombra no texto*/
}
h2 { color: #6A381F;

}
p {
    text-align: justify;
}