@charset "UTF-8";
/* id = @
   class = .
*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}
h2 {
    color: green;
}
.basico {
    color: red;
}

.inter {
    color: rgb(164, 0, 0);
}

.avançado {
    color: rgb(77, 2, 2);
}
h1 {
    color: blueviolet;
}
h1#principal {
    text-align: center;
    color: white;
}